name: ZAP Simple POST Test (Automation)

on:
  workflow_dispatch:

jobs:
  zap-post-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fix permissions
        run: chmod -R 777 .

      - name: Create output folder
        run: mkdir -p zap-output

      - name: Run ZAP Automation Plan
        run: |
          docker run --rm \
            -v "$(pwd)":/zap/wrk \
            ghcr.io/zaproxy/zaproxy:stable \
            zap.sh -cmd \
              -autorun /zap/wrk/zap-automation/plan.yaml

      - name: Copy ZAP report
        run: |
          cp ~/.ZAP/report.html zap-output/zap-report.html || true
          cp ~/.ZAP/report.json zap-output/zap-report.json || true

      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-html-report
          path: zap-output/zap-report.html

      - name: Upload JSON Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-json-report
          path: zap-output/zap-report.json
